.calculator {
  background: #ECFC97;
  padding: 2rem;
  border-radius: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem;
}

.input {
  padding: .75rem;
  font-size: 1rem;
  width: 5%;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.button {
  padding: .25rem .6rem;
  margin: .25rem;
  background-color: #99B211;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 4px;
}

/* .buttonContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
} */